// _color.scss
$primary-color: #646cff;
$secondary-color: #535bf2;
$color-black: #000;
$color-white: #fff;
$color-gray: #808080;
$color-primary-gray: rgba(17, 24, 39, .95);
$color-secondary-gray: rgba(31, 41, 55, .9);
$color-primary-purple:rgb(192, 132, 252,1 );
$color-light-gray:rgb(156, 163, 175, 1 );
$color-dusky-gray:#e5e7eb